*{
    margin: 0;
    padding: 0;
}

main *{
    margin-top: 0.986463em;
}

 main, #main {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}

header {
    width: 100%;
    background-color: rgb(54, 44, 43);
}

footer{
    margin-top: 0.986463em;
}
nav {
    width: 50%;
    margin: 0 auto;
}

nav ul {
	font-family: Roboto, "Times New Roman", Times, serif;
    font-size: 12px;
	
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 1.473684211em;
    padding: 10px 15px;
}

nav ul li a {
	text-decoration: none;
    color: #c95541;
    font-weight: bolder;
}

nav ul li a.letra_blanca {
	text-decoration: none;
    color: rgb(255, 246, 246);
}


.cubo_blanco {
    background-color: white;
    padding: 2.2%;
    border-left: 2px solid rgb(38, 129, 46);
    
}

blockquote p.fuente-roja  {
    font-size: 18px;
    color: red;
    margin: 0;
}

article aside {
    border-left: 2px solid rgb(38, 129, 46);
    padding: 3%;
    background-color: white;
}

article aside p {
    color: grey;
}

article small  {
    color: rgb(93, 122, 103);
}
article small a  {
    text-decoration: none;
    color: rgb(93, 122, 103);
}

body {
    
	font-family: Roboto, "Times New Roman", Times, serif;
    font-size: 14px;
    background-color: rgb(248, 231, 213);
}

h1{
    text-align: center;
    font-size: 40px;
}

h2{
    text-align: center;
    color: red;
}

h3, h4{
    font-size: 18px;
}

.titulos_verdosos{
    color: rgb(68, 90, 81);
}

.titulos_verdosos_left{
    color: rgb(68, 90, 81);
    text-align: left;
}

#derecha{
    text-align: right;
}

#imgArticle{
    margin: auto;
}

figure img{
    border: 10px solid rgba(246, 250, 249, 0.842);
    width: 98%;
}

.color_rojo{
    color: red;
}

footer{
    width: 100%;
    background-color: #596c68;
    text-align: left;
}
footer a img {
    margin-left: 20%;
}
footer span {
    margin-left: 30%;
}

footer p{
    
    background-color: rgb(19, 83, 53);
    text-align: right;
}

.font_red{
    color: red;
}

.font_green{
    color: rgb(68, 90, 81);
}

.tabular_tablas{
    padding-left: 5%;
    list-style: decimal;
}
.tabular_tablas > li{
    list-style: decimal;
    margin: 0%;
   
}
#tablas{
    padding-left: 4%;
 
}

#icon_camara{
    list-style-image: url("../img/icons/camera-small.png");
    
}

#icon_libro1{
    list-style-image: url("../img/icons/book-small.png");
}

#icon_libro2{
    list-style-image: url("../img/icons/book2-small.png");
    
}

#beneficios{
    width: 47%;
}

.style-none{
    list-style: none;
}

.fa-cube{
    color: blue;
}

.fa-expand-alt{
    color: red;
}

.fa-thumbs-up{
    color: pink;
}

.fa-microchip{
    color: purple;
}

.link {
    float: right;
}
.link a {
    text-decoration: none;
    color: white;
    background-color: red;
    border-color: red;
    padding: 5px 20px;
    border-radius: 10px;
    

}

